.Container {
  height: 95vh;
  background-color: whitesmoke;
}



h1 {
  text-align: center;
  font-size: 70px;
}

.labelSize {
  font-size: 20px;
}

.liSize {
  font-size: 20px;
  margin: 10px;
}

.Button {
  width: 500px;
  cursor: pointer;
}

.ButtonPosition {
  display: flex;
  justify-content: center;
}
